html{
	position: relative;
/*	scroll-behavior: smooth;*/
}

body{
	margin-bottom: 120px;
	margin-top: 30px;


	/*ukuran harus sama dengan height di footer*/
}

nav{
	overflow-x:hidden;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

/*@media (max-width: 575.98px) {
	.jumbotron{
		background-position: 0 -50px;
	}
}*/
.jumbotron {
	background-image: url('../img/gambar-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 -100px;
	height: 500px;

}

.jumbotron h1{
	color: white;
}

.jumbotron p{
	color: white;
}

.jumbotron img{
	width: 200px;
	border: 5px solid #666;
}

hr{
	width:250px;
	border-top: 3px solid #999;
}

section{
	min-height: 600px;
}

.portfolio{
	background-color: #eee;
}

.contact{
	min-height: 800px;

}

footer{
	position: absolute;
	width: 100%;
	height: 120px;
	bottom:0;
	background-color: #333;
	padding-top:30px;
	

}
footer p{
	font-size:0.9em;
	color: #aaa; 
}

i{
	color: salmon
}